<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Comparison JSON</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
  <h1 class="title">Comparison JSON</h1>
  <div class="comparison-container">
    <pre id="mainOutput" class="output" th:text="${main}"></pre>
    <pre id="compOutput" class="output" th:text="${comp}"></pre>
    <pre id="secOutput" class="output" th:text="${sec}"></pre>
  </div>
  <form action="/" method="POST" class="form">
    <input type="submit" name="Back" value="Back" class="submit-btn">
  </form>
</div>
</body>
</html>
